<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-title>
            Pedido Disponible
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">


    <ion-card *ngIf="pedido">
        <ion-card-header color="medium">
            <ion-card-title>{{pedido.local}}
            </ion-card-title>
            <ion-card-subtitle>
                No. {{pedido._id}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>

                <ion-item-group>
                    <ion-item-divider color="primary">
                        <ion-icon slot="start" name="list-sharp"></ion-icon>
                        <ion-label>
                            <strong>
                                Información del Pedido
                            </strong>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item>
                        <ion-label>
                            <strong>
                                Local
                            </strong>
                        </ion-label>
                        <ion-label> {{pedido.local}} </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <strong>
                                Usuario
                            </strong>
                        </ion-label>
                        <ion-label class="ion-text-right"> {{pedido.usuario}} </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <strong>
                                Fecha
                            </strong>
                        </ion-label>
                        <ion-label class="ion-text-right"> {{pedido.fecha}} </ion-label>
                    </ion-item>
                </ion-item-group>
                <ion-item-group>
                    <ion-item-divider color="tertiary">
                        <ion-icon slot="start" name="basket-sharp"></ion-icon>
                        <ion-label>Lista de Articulos</ion-label>

                    </ion-item-divider>
                    <ion-item *ngFor="let item of pedido.articulos">
                        <ion-label>{{item.name}}</ion-label>
                        <ion-label class="ion-text-right">${{item.price}} </ion-label>
                    </ion-item>
                </ion-item-group>
                <br>
                <br>

                <ion-item-group>
                    <ion-item-divider style="background-color: mediumseagreen;color: azure;">
                        <ion-icon slot="start" style="color: white;" name="cash-sharp"></ion-icon>
                        <ion-label class="ion-text-center" style="font-size: 1.5em;">
                            <strong>Monto a Cobrar</strong>
                        </ion-label>
                    </ion-item-divider>
                    <ion-item>
                        <ion-label class="ion-text-center" style="font-size: 4em;color: teal;">${{pedido.total}}
                        </ion-label>
                    </ion-item>
                </ion-item-group>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <br><br>


    <div class="ion-text-center">

        <ion-button color="success" size="large" (click)="salidaPedido(pedido._id)">
            Tomar Pedido
        </ion-button>
    </div>


</ion-content>